.books {
  padding: 30px 0;
  text-align: center;
}

.books img {
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 200px;
  margin: 0 10px;
  transform: perspective(500px) rotateY(22deg);
  transition: all 0.2s ease;
  box-shadow:
    -2px 0 -1px black,
    -4px 0 -2px black,
    -6px 0 -3px black,
    -8px 0 -4px black,
    -10px 0 -5px black;
}

.books img:hover {
  transform: perspective(500px) rotateY(0deg);
  box-shadow: none;
}

.shelf {
  height: 300px;
  margin: -50px auto 0;
  transform: perspective(10px) rotateX(20deg);
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background-size: 100%, 512px;
}

body {
  background-size: 512px;
  overflow: hidden;
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 100;
}

#add-score{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#add-score {
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#add-score:hover {
  background-color: rgb(249,250,251);
}

#add-score:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

#add-score:focus-visible {
  box-shadow: none;
}

.book_object{
  display: inline-block;
  position: relative;
  text-align: center;
  z-index: 1;
  width: 200px;
  height: 270px;
  margin: 0 10px;
  padding: 4px;
  border-style: solid;
  border-color: #5298bd;
  background-color: #5298bd;
  transform: perspective(500px) rotateY(22deg);
  transition: all 0.2s ease;
  box-shadow:
    -2px 0 -1px black,
    -4px 0 -2px black,
    -6px 0 -3px black,
    -8px 0 -4px black,
    -10px 0 -5px black;
}

.book_object:hover{
  transform: perspective(500px) rotateY(0deg);
  box-shadow: none;
}

#book_composer{
  font-size: 24px;
  color: #fffaff;
  font-weight:lighter;
  border-bottom: 1px solid #fffaff;
}

#book_composition{
  font-size: 12px;
  color: rgb(22, 23, 24);
}

#book_catalog, #book_instrument{
  font-size: 10px;
  color:rgb(22, 23, 24);
}

.book-btns{
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
}

.book_object:hover .book-btns{
  display: block;
}

.book-btn{
  display: flex;
  align-items: center;
  border: none;
  border-radius: 50%;
  background-color: #5298bd;
  width: 30px;
  height: 30px;
}

.book-btn:hover {
  background-color: #407c9d;
}

#dummy{
  color: #D1D5DB;
  font-size: 10px;
}
.footer { 
  position: absolute; 
  bottom: 0;
  width: 100%;
  z-index: 10;
  color: #fffaff;
}